<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#requestAccordion" data-url="" href="#requestCollapse">
			</a>
		</h4>
	</div>
	<div id="requestCollapse" class="panel-collapse collapse list-group">
		<li class="list-group-item">
			Author: <a href="" target="_blank" id="requestAuthor"></a>
		</li>
		<li class="list-group-item">
			<div>Description:</div>
			<div id="requestMessage" style="margin-top: 10px; padding: 10px; border-radius: 5px; background-color: rgba(47, 164, 231, 0.2);">
			</div>
		</li>
	</div>
</div>