<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#fileAccordion" data-url="" href="#fileCollapse">
				<span></span>
				<span class="badge"></span>
			</a>
		</h4>
	</div>
	<div id="fileCollapse" class="panel-collapse collapse list-group">
		<li class="list-group-item">
			Description: <span id="fileDescription"></span>
		</li>
		<li class="list-group-item">
			Size: <span id="fileSize"></span>
		</li>
		<li class="list-group-item">
			Type: <span id="fileType"></span>
		</li>
		<li class="list-group-item">
			Upload time: <span id="fileUploadTime"></span>
		</li>
		<li class="list-group-item">
			Author: <a href="" target="_blank" id="fileAuthor"></a>
		</li>
		<li class="list-group-item">
			<div style="padding-bottom: 1px;">Popularity:</div>
			<div id="filePopularity">
				<div>
					<iframe src="" style="border: none; overflow: hidden; height: 21px;" allowTransparency="true"></iframe>
				</div>
				<div>
					<div class="g-plusone" data-href=""></div>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			Share:
			<span id="fileShare">
				<iframe src="" scrolling="no" frameborder="0" style="border: none; overflow: hidden; height: 21px; vertical-align: bottom;" allowTransparency="true"></iframe>
			</span>
		</li>
		<li class="list-group-item">
			<div style="margin-bottom: 5px;">
				Filename: <i id="fileName"></i>
			</div>
			<a href="" class="btn btn-success btn-sm" id="fileDownload" role="button">
				<span class="glyphicon glyphicon-download-alt"></span>
				Download
			</a>
		</li>
	</div>
</div>